/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color:rgb(197, 223, 221);
  color: #333;
}

/* Header */
header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header img.logo {
  width: 80px;
  height: auto;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #0000cc;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 1rem;
}

.hero-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Company Section */
.company {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

.company-text {
  flex: 2;
  margin-right: 1rem;
}

.side-image {
  flex: 1;
  width: 250px;
  border-radius: 10px;
}

/* History and Adventure Sections */ 
.history, .adventure {
  text-align: center;
  padding: 2rem;
  background-color:lavender
  margin 1rem 0;
}

.history h2, .adventure h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: white;
  text-align: center;
  padding: 1rem;
}

.social-icons img {
  width: 30px;
  margin: 0 5px;
}
