body {
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
}

h1 {
  color: lightblue;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  color: #333;
  font-size: 18px;
}
button {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

aside{
    width: 20em;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    color: darkblue;
    background-color: lightblue;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
} 

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}