body {
  background-color: #3574ac;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
}

h1 {
  color: lightblue;
}

main{
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 0;
  box-shadow: 0 0 30px gray;
}

p {
  color: #333;
  font-size: 18px;
}
button {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/ 0.2);
    padding: 1rem;
    background-color: lightblue;
    color:#333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
} 

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}